{
  "root": true,
  "extends": "@shopgate/eslint-config",
  "rules": {
    "import/no-unresolved": ["error", {
      "commonjs": true,
      "caseSensitive": true,
      "ignore": ["config\\.json$"]
    }]
  }
}
